@import url("./layout.css");
@import url("./post-item.css");
@import url("./side-navbar.css");

.post-list {
  padding: 2.5em;
}

.post-list h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}
