@import url("./layout.css");
@import url("./post-item.css");
@import url("./side-navbar.css");

.post-list {
  padding: 2.5em;
}

.post-list h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}

@media all and (max-width: 740px) {
  .post-list {
    padding: 0 1.5rem 1.5rem;
    min-width: 360px;
  }

  .post-list h2 {
    display: none;
  }
}
