/* header */
.main-header h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 2rem 3rem;
}

.main-header_banner {
  font-size: 2rem;
  height: 400px;
  background-color: #f6f6f4;
  border-top: solid 1px #dedddc;
}

.banner_content-wrapper {
  max-width: 1200px;
  height: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5rem;
}

.banner_main-text {
  font-family: "Calistoga", cursive;
  font-weight: 500;
  font-size: 3rem;
}

.banner_sub-text {
  font-size: 1.8rem;
  margin-top: 1rem;
  color: #007c89;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
}

/* side nav bar */
.side-navbar {
  padding-right: 1rem;
  border-right: solid 1px #dedddc;
  margin: 1.5rem 0;
}

.side-navbar .menu .menu_item {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0.3rem 1rem;
}

.side-navbar .menu .menu_item:hover {
  background-color: #cde5e7;
  transition: ease-in-out 0.2s;
}

.side-navbar .menu .menu_item a {
  display: inline-block;
  width: 100%;
}

.side-navbar .menu .menu_item a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  height: 200px;
  background-color: #e7b75f;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media_list {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}

.social-media_list .social-media_item img {
  width: 20px;
}

/* Mobile */
@media all and (max-width: 740px) {
  .main-header {
    min-width: 360px;
  }

  .main-header h1 {
    font-size: 1.3rem;
    padding: 1.5rem;
  }

  .main-header_banner {
    height: 200px;
  }

  .banner_content-wrapper {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
  }

  .banner_main-text {
    font-size: 2rem;
  }

  .banner_sub-text {
    font-size: 1rem;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .side-navbar {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    border-right: none;
  }

  .side-navbar nav {
    padding: 0 1.5rem;
  }

  .side-navbar .menu {
    display: flex;
    box-sizing: border-box;
    border-bottom: solid 1px #dedddc;
  }

  .side-navbar .menu .menu_item {
    padding: 0;
    width: 80px;
    border-bottom: solid 2px transparent;
  }

  .side-navbar .menu .menu_item a {
    text-align: center;
  }

  .side-navbar .menu .menu_item:hover {
    background-color: transparent;
    background-color: #cde5e7;
  }
}
